{% extends 'layout.html' %}

{% block style %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3>Server information</h3>
        <pre>{{ os_info }}</pre>
    </div>

    <div>
        <h3>PostgreSQL</h3>
        <pre>{{ postgres_info.info }}</pre>

        {% if postgres.need_install %}
            <button type="button" class="btn btn-success btn-install-postgres" onclick="installPostgres(this);">
                Install
            </button>

            <div id="postgres-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="postgres-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% else %}
            <a href="/postgres">
                <button type="button" class="btn btn-primary">Configure</button>
            </a>

            <button type="button" class="btn btn-success disabled">Start</button>
            <button type="button" class="btn btn-warning disabled">Stop</button>
        {% endif %}
    </div>

    <div>
        <h3>Redis</h3>
        <pre>{{ redis.info }}</pre>

        {% if redis.need_install %}
            <button type="button" class="btn btn-success btn-install-redis" onclick="installRedis(this);">Install
            </button>
            <div id="redis-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="redis-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% else %}
            <input type="checkbox" checked data-toggle="toggle">

            {% if redis_status %}
                <button type="button" class="btn btn-warning btn-restart-redis">Restart</button>
            {% endif %}
        {% endif %}
    </div>

    <div>
        <h3>Nginx</h3>
        <pre>{{ nginx.info }}</pre>

        {% if nginx.need_install %}
            <button type="button" class="btn btn-success btn-install-nginx" onclick="installNginx(this);">Install
            </button>
            <div id="nginx-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="nginx-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% else %}
            <a href="/nginx">
                <button type="button" class="btn btn-primary">Configure</button>
            </a>

            <button type="button" class="btn btn-success disabled">Start</button>
            <button type="button" class="btn btn-warning disabled">Stop</button>
        {% endif %}
    </div>

    <div>
        <h3>PM2</h3>
        <pre>{{ pm2.info }}</pre>

        {% if pm2.need_install %}
            <button type="button" class="btn btn-success btn-install-pm2" onclick="installPm2(this);">Install</button>
            <div id="pm2-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="pm2-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% else %}
            <button type="button" class="btn btn-success disabled">Start</button>
            <button type="button" class="btn btn-warning disabled">Stop</button>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/javascripts/pace.min.js"></script>
    <script type="text/javascript" src="/javascripts/socketio.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
{% endblock %}