{% extends 'layout.html' %}

{% block style %}
    <link href="stylesheets/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div>
        <h3>Server information</h3>
        <pre>{{ os_info }}</pre>
    </div>

    <div>
        <h3>PostgreSQL</h3>
        <pre>{{ postgres.info }}</pre>

        {% if postgres.need_install %}
            <button type="button" class="btn btn-success btn-install-postgres" onclick="installPostgres(this);">
                Install
            </button>

            <div id="postgres-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="postgres-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% else %}
            <a href="/postgres">
                <button type="button" class="btn btn-primary">Configure</button>
            </a>

            <p></p>
            <div>
                Status: <span id="postgres-active-status">{% if postgres_active %}Active{% else %}Inactive{% endif %}</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <input type="checkbox" id="toggle-postgres" data-toggle="toggle"
                       {% if postgres_active %}checked="checked"{% endif %}/>
            </div>
        {% endif %}
    </div>

    <div>
        <h3>Redis</h3>
        <pre>{{ redis.info }}</pre>

        {% if redis.need_install %}
            <button type="button" class="btn btn-success btn-install-redis" onclick="installRedis(this);">Install
            </button>
            <div id="redis-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="redis-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% else %}
            <p></p>
            <div>
                Status: <span id="redis-active-status">{% if redis_active %}Active{% else %}Inactive{% endif %}</span>
                <span>&nbsp;&nbsp;&nbsp;</span>

                <input type="checkbox" id="toggle-redis" data-toggle="toggle"
                       {% if redis_active %}checked="checked"{% endif %}/>
            </div>
        {% endif %}
    </div>

    <div>
        <h3>Nginx</h3>
        <pre>{{ nginx.info }}</pre>

        {% if nginx.need_install %}
            <button type="button" class="btn btn-success btn-install-nginx" onclick="installNginx(this);">Install
            </button>
            <div id="nginx-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="nginx-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% else %}
            <a href="/nginx">
                <button type="button" class="btn btn-primary">Configure</button>
            </a>

            <p></p>
            <div>
                Status: <span id="nginx-active-status">{% if nginx_active %}Active{% else %}Inactive{% endif %}</span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <input type="checkbox" id="toggle-nginx" data-toggle="toggle"
                       {% if nginx_active %}checked="checked"{% endif %}/>
            </div>
        {% endif %}
    </div>

    <div>
        <h3>PM2</h3>
        <pre>{{ pm2.info }}</pre>

        {% if pm2.need_install %}
            <button type="button" class="btn btn-success btn-install-pm2" onclick="installPm2(this);">Install</button>
            <div id="pm2-status" style="margin-bottom: 15px; font-size: 24px;"></div>

            <pre id="pm2-process"
                 style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/javascripts/socketio.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
{% endblock %}