{% extends 'layout.html' %}

{% block content %}
    <h3>Basic config</h3>

    <form action="" method="post">
        <div style="border: 1px solid #ddd; padding: 10px;">
            <h4>Host-based authentication (pg_hba.conf)</h4>

            <div class="form-group">
                <label>
                    <input type="checkbox" name="address" value="all"/> Allow any user connect to Postgres if the user's
                    password is correctly supplied
                </label>
            </div>

            <div class="form-group">
                <label class="control-label" for="address">Or type Addresses to specify users from addresses connect to
                    Postgres</label>
                <input type="text" name="address" id="address" class="form-control"
                       placeholder="Example: 192.168.1.1/32" style="width: 50%;"/>
            </div>
        </div>

        <p></p>

        <div style="border: 1px solid #ddd; padding: 10px;">
            <h4>Listening Address (postgresql.conf)</h4>

            <div class="form-group">
                <label>
                    <input type="radio" name="listen_addresses" value="*"/> Allow Remote connect
                </label>
            </div>

            <div class="form-group">
                <label class="control-label">
                    <input type="radio" name="listen_addresses" value="localhost"/> Allow only Local connect
                </label>
            </div>
        </div>

        <p></p>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">SAVE CHANGED</button>
            <a href="/" class="btn btn-default">CANCEL</a>
        </div>
    </form>

    <h3>Advance config</h3>
    <p>User must type database, user, address, method, ... manually</p>

{% endblock %}