{% extends 'layout.html' %}

{% block style %}
    <link href="stylesheets/bootstrap-toggle.min.css" rel="stylesheet">
    <style>
        .website-item {
            padding: 15px;
            border: 1px solid #ddd;
            margin-bottom: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <p>&nbsp;</p>

    <div id="alert-msg"></div>

    <div id="website-list">
        {% if list_websites and list_websites|length %}
            {% for website in list_websites %}
                <div class="website-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>Location: {{ website.location }}</div>
                            <div>Database: {{ website.database_name }}</div>
                            {% if website.use_nginx == 'yes' %}
                                <div>Listen by Nginx</div>
                            {% else %}
                                <div>Listen port: {{ website.listen_port }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <button class="btn btn-primary" data-toggle="modal" data-target="#create-website-modal">Create New Website</button>

    <div class="msg-alert"></div>

    <!-- Create website modal -->
    <div class="modal fade" id="create-website-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Create new website</h4>
                </div>

                <div class="modal-body">
                    <form id="frm-create-website">
                        <div class="form-group">
                            <label for="location">Location (project folder in hard disk, do not place in /root folder)</label>
                            <input type="text" name="location" id="location" class="form-control"
                                   style="margin-top: 15px;"/>
                        </div>

                        <div class="form-group">
                            <label for="database_name">Database name</label>
                            <input type="text" name="database_name" id="database_name" class="form-control"
                                   style="margin-top: 15px;"/>
                        </div>

                        <div class="form-group">
                            <label for="database_user">Database user (must have privileges access postgres
                                database)</label>
                            <input type="text" name="database_user" id="database_user" class="form-control"
                                   style="margin-top: 15px;"/>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                   style="margin-top: 15px;"/>
                        </div>

                        <div class="form-group">
                            <label for="listen_port">Listen port</label>
                            <input type="text" name="listen_port" id="listen_port" class="form-control"
                                   style="margin-top: 15px;"/>
                        </div>

                        {% if installedNginx %}
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="use_nginx" id="use_nginx" value="yes"
                                           style="margin-top: 15px;"/>
                                    Using Nginx to serve static files
                                </label>
                            </div>
                        {% endif %}
                    </form>

                    {% if installedNginx %}
                        <form id="frm-config-nginx" style="display: none">
                            <div class="form-group">
                                <label class="control-label" for="file_name">File name (*.conf)</label>
                                <input type="text" name="file_name" id="file_name" class="form-control"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="server_name">Server name</label>
                                <input type="text" name="server_name" id="server_name" class="form-control"/>
                            </div>

                            <input type="hidden" name="website_listen_port" id="website_listen_port"/>

                            <input type="hidden" name="root_path" id="root_path"/>

                            <div class="form-group">
                                <label class="control-label" for="upstream">Upstream</label>
                                <input type="text" name="upstream" id="upstream" class="form-control"/>
                            </div>
                        </form>
                    {% endif %}

                    <div id="postgres-status" style="display: none; margin-bottom: 15px; font-size: 18px;"></div>

                    <pre id="create-website-process"
                         style="display: none; height: 300px; overflow: scroll; padding: 15px; background-color: #000000; color: #5cb85c;"></pre>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createWebsite()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End create website modal -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/javascripts/socketio.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-toggle.min.js"></script>
    <script>
        var create_website_process = $('#create-website-process');
        var create_website_status = $('#create-website-status');
        var form_create_website = $('#frm-create-website');
        var form_config_nginx = $('#frm-config-nginx');
        var use_nginx = $('#use_nginx');
        var modal_footer = $('#create-website-modal .modal-footer');

        var socket = io();

        socket.on('create_website_process', function (data) {
            create_website_process.append(data);
            create_website_process.scrollTop(999999);
        });

        socket.on('create_website_completed', function (data) {
            if (use_nginx.is(':checked')) {
                // Config Nginx
                $.ajax({
                    url: '/websites/nginx',
                    type: 'post',
                    data: form_config_nginx.serialize()
                }).done(function (result, status) {
                    if (result == 'success') {
                        modal_footer.html('<button type="button" class="btn btn-default" onclick="updateWebsites(1)">Update & Close</button>');
                    } else if (result == 'exists') {
                        alert('File config already exists');
                    } else {
                        alert('Config Nginx error');
                    }
                }).fail(function (error, status) {
                    alert("Error connect to server");
                });
            } else {
                modal_footer.html('<button type="button" class="btn btn-default" onclick="updateWebsites(0)">Update & Close</button>');
            }
        });

        use_nginx.on('click', function () {
            if ($(this).is(':checked')) {
                form_config_nginx.css('display', 'block');
            } else {
                form_config_nginx.css('display', 'none');
            }
        });

        $('#listen_port').on('change', function () {
            $('#website_listen_port').val($(this).val());
        });

        $('#location').on('change', function () {
            $('#root_path').val($(this).val() + '/public');
        });

        function createWebsite() {
            // Validate form
            var error = 0;
            $('#frm-create-website input[type="text"]').each(function () {
                if ($(this).val() == '') {
                    error++;
                }
            });

            if (use_nginx.is(':checked')) {
                $('#frm-config-nginx input[type="text"]').each(function () {
                    if ($(this).val() == '') {
                        error++;
                    }
                });
            }

            if (error) {
                return alert('Missing information to create new website!');
            }

            create_website_status.text("Creating website... Please do not use the browser refresh or navigate to other page while creating!").css('color', 'blue');
            create_website_status.css('display', 'block');
            create_website_process.css('display', 'block');
            form_create_website.hide();
            form_config_nginx.hide();
            modal_footer.children().remove();

            socket.emit('create_website', form_create_website.serializeArray());
        }

        function updateWebsites(use_nignx) {
            $.ajax({
                url: '/websites/update',
                type: 'post',
                data: form_create_website.serialize()
            }).done(function (result, status) {
                if (result == 'success') {
                    var html = '<div class="website-item"><div class="row">' +
                            '<div class="col-sm-6">' +
                            '<div>Location: ' + $('#location').val() + '</div>' +
                            '<div>Database: ' + $('#database_name').val() + '</div>';

                    if (use_nignx){
                        html += '<div>Listen by Nginx</div>';
                    }else{
                        html += '<div>Listen port: ' + $('#listen_port').val() + '</div>';
                    }

                    html += '</div></div></div>';

                    $('#website-list').append(html);
                } else {
                    alert('Update website information error');
                }

                // Close modal
                $('#create-website-modal').modal('hide');

                // Reset form
                form_create_website.show();
                form_create_website.find('input[type="text"]').val('');
                form_config_nginx.find('input[type="text"]').val('');
                $('#use_nginx').prop('checked', false);

                create_website_status.text('');
                create_website_status.css('display', 'none');
                create_website_process.html('');
                create_website_process.css('display', 'none');

                var footer = '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
                        '<button type="button" class="btn btn-primary" onclick="createWebsite()">Save changes</button>';
                modal_footer.html(footer);

                // Alert
                $('#alert-msg').html('<div class="alert-success">New website was created</div>');
            }).fail(function (error, status) {
                alert("ERROR!", error, status);
            });
        }
    </script>
{% endblock %}